.asset-holdings-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1E1E1E;
    border-radius: 4px;
    border: 1px solid #000;
  }
  
  .asset-holdings-view {
    text-align: center;
  }
  
  .asset-holdings-view h2 {
    margin-bottom: 20px;
    color: white;
  }
  
  .asset-holdings-view button {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #D5FF0A;
    color: #1E1E1E;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .asset-holdings-view button:hover {
    background-color: #BCE20A;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .logo {
    max-width: 180px; /* Adjust the width as needed */
  }
  
  .asset-balance-table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
  }
  
  .asset-balance-table th,
  .asset-balance-table td {
    border: 1px solid #0e0d0d;
    padding: 8px;
    text-align: left;
    color: white;
  }
  
  .asset-balance-table th {
    background-color: #363636;
  }
  
  .asset-balance-table td {
    background-color: #505050;
  }
  
  
  @media screen and (max-width: 768px) {
    .asset-balance-table td, .total-valuation-table td {
      font-size: 0.8em;
      padding: 2px;
    }
  }
  
 
  